# Role - Main Tasks

- name: Detect active swap entries
  ansible.builtin.shell: awk 'NR>1{print}' /proc/swaps
  register: swap_entries
  changed_when: false
  failed_when: false

- name: Set swap_active fact
  ansible.builtin.set_fact:
    swap_active: "{{ ((swap_entries.stdout_lines | default([])) | length) > 0 }}"
  when: swap_entries is defined
 
- name: Default swap_active when detection failed
  ansible.builtin.set_fact:
    swap_active: false
  when: swap_entries is not defined

- name: Enable swap (swapon -a)
  ansible.builtin.command: swapon -a
  when: swap_enabled | bool and not swap_active and (ansible_virtualization_type is not defined or ansible_virtualization_type not in ['docker','podman','container'])

- name: Disable swap (swapoff -a)
  ansible.builtin.command: swapoff -a
  when: not swap_enabled | bool and swap_active and (ansible_virtualization_type is not defined or ansible_virtualization_type not in ['docker','podman','container'])

- name: Configure vm.swappiness when enabling swap
  ansible.posix.sysctl:
    name: vm.swappiness
    value: "{{ swap_swappiness }}"
    state: present
    sysctl_file: /etc/sysctl.conf
    reload: true
  when: swap_enabled | bool and (swap_swappiness is defined) and (swap_swappiness | string) != ''

- name: Remove vm.swappiness when disabling swap
  ansible.posix.sysctl:
    name: vm.swappiness
    state: absent
    sysctl_file: /etc/sysctl.conf
    reload: true
  when: not swap_enabled | bool and (swap_swappiness is defined) and (swap_swappiness | string) != ''
